.logo {
  width: 80px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 35px;
  text-decoration: underline;
}
nav a:hover {
  background-color: black;
  color: grey;
}

header {
  background-color: #ffee32;
  display: grid;
  grid-template-columns: 150px auto;
  margin-top: -10px;
}
footer {
  background-color: #ffee32;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social img {
  padding-top: 15px;
}
footer h3 {
  color: black;
}
footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: black;
  text-decoration: underline;
}
#tips_head {
  text-align: center;
  font-weight: bolder;
}

ol {
  list-style-position: inside;
  width: 800px;
  margin: 0 auto;
}
.list1 {
  padding-bottom: 50px;
}
#item1 {
  padding-top: 30px;
}
#item2 {
  padding-top: 30px;
}
#rulespic1 {
  grid-column: 2/3;
  box-shadow: 5px 5px 10px #333533;
  border: 5px solid #ffee32;
  width: 226px;
  height: 190px;
}
#rulespic2 {
  grid-column: 4/5;
  box-shadow: 5px 5px 10px #333533;
  border: 5px solid #ffee32;
}
.rulesimg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 100px;
}
